<head>
    <title>AMCAA List</title>
    <script src="list-nfts.js"></script>
</head>
<body>
    <h1>List dem damn NFTs</h1>
    <p>Includes both the IDs of start and stop.</p>
    <input id="start" type="number" placeholder="Start Token Id"/>
    <input id="stop" type="number" placeholder="Stop Token Id"/>
<!--    <button onclick="list(document.getElementById('start'), document.getElementById('stop'))">List</button>-->
    <button onclick="listForSale(document.getElementById('start'))">List</button>
</body>

<script>
    function list(start, stop) {
        console.log('called list')
        for (let i=start; i<=stop; i++) {
            listForSale(i)
        }
    }
</script>